body {
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    background: #dee6e6;
}

header {
    height: 60px;
    background: #fffffe;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}

header h1 {
    font-weight: normal;
    margin: 0;
}

footer {
    width: 100%;
    height: 90px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    background: #75a0aa;
    border-top: 1px solid #eee;
    text-align: center;
    color: #fff;
}

#main {
    margin: 20px auto 90px;
    padding: 20px 20px;
    min-height: 700px;
    background: #fff;
    border: 1px solid #ccc;
}

.wrapper {
    width: 1200px;
    margin: auto auto;
}

.btn {
    display: block;
    border: 1px solid #eee;
    text-align: center;
    text-decoration: none;
}

.btn-lg {
    line-height: 40px;
    width: 100px;
}

.btn-green {
    background: #d5eaa0;
    border: 1px solid #7bad00;
    color: #000;
}

.btn-green:hover {
    background: #7bad00;
    color: #fff;
}